<%- if comments.length <= 0 %>
    <p class="center">回答はまだありません。</p>
<%- else %>
    <%- comments.each do |comment| %>
        <div class="cols 12">
            <%= render 'comments/comment_item', comment: comment %>
        </div>
    <%- end %>
<%- end %>
