<div class="col s12">
    <div class="section">
        <h3>登録タグ一覧</h3>
        <div class="divider"></div>
        <div class="content">
            <%- if @tags.blank? %>
            <% else %>
                <ul>
                    <%- @tags.each do |tag| %>
                        <li><%= link_to tag_path(slug: tag.name) do %>
                            <%= tag.name %>
                        <% end %></li>
                    <% end %>
                </ul>
            <% end %>
        </div>
    </div>
</div>
